
@media (max-width: 640px) {
    .login-card {
      padding: 2rem 1.5rem;
    }
    
    .language-symbol {
      opacity: 0.1;
    }
    
    .theme-toggle-label {
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
    }
    
    .site-header {
      top: 10px;
      left: 10px;
    }
    
    .site-logo {
      height: 50px; /* Logo um pouco menor em dispositivos móveis */
    }
    
    .login-title {
      font-size: 2rem;
    }
}