:root {
    --primary: #9d4edd;
    --primary-focus: #8a2be2;
    --primary-light: #c77dff;
    --primary-transparent: rgba(157, 78, 221, 0.1);
    
    --light-bg: #f8f9fa;
    --light-card: #ffffff;
    --light-input: #f1f3f5;
    --light-border: #dee2e6;
    --light-text: #212529;
    --light-text-secondary: #6c757d;
    
    --dark-bg: #121212;
    --dark-card: #1e1e1e;
    --dark-input: #2d2d2d;
    --dark-border: #3d3d3d;
    --dark-text: #ffffff;
    --dark-text-secondary: #9d9d9d;
  }
  
  /* Theme Toggle */
  #theme-toggle {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  html.dark {
    --bg-color: var(--dark-bg);
    --card-color: var(--dark-card);
    --input-color: var(--dark-input);
    --border-color: var(--dark-border);
    --text-color: var(--dark-text);
    --text-secondary: var(--dark-text-secondary);
  }
  
  html:not(.dark) {
    --bg-color: var(--light-bg);
    --card-color: var(--light-card);
    --input-color: var(--light-input);
    --border-color: var(--light-border);
    --text-color: var(--light-text);
    --text-secondary: var(--light-text-secondary);
  }
  